/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}


/*********Card colors for when flipped*********/
.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.blue{
  background-color: blue;
}

.purple{
  background-color: purple;
}

.green{
  background-color: green;
}

/*******Back of card******/
.back{
  background-color: burlywood;
  transition: all .1s ease-in-out;
}

.back:hover{
  transform: scale(1.05);
}